.permalink {
    float: left;
    margin-left: -40px;
    font-size: 30px;
}

.permalink a:link,
.permalink a:hover,
.permalink a:visited,
.permalink a:active {
    text-decoration: none;
    color: lightgrey;
}

header {
    background-image: url(ghosts.jpg);
    height: 300px;
    background-attachment: fixed;
    border-bottom: 1px solid gray;
}

.icon {
    float: right;
    margin-left: 15px;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 42px;
    color: white;
    text-shadow: 1px 1px 3px #888;
    text-align: center;
}

.header-inner {
    position: fixed;
    top: 125px;
    width: 730px;
    left: 50%;
    margin-left: -365px;
}

a:link, a:visited, a:hover, a:active {
    color: #369;
}

hr {
    border: 0;
    height: 20px;
    margin: 0;
}

hr:before {
    position: absolute;
    content: '~';
    left: 50%;
    width: 10px;
    margin-left: -5px;
    font-size: 50px;
    opacity: 0.05;
}

h3 {
    margin-bottom: 20px;
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: bold;
    src: local('Orbitron'), url('orbitron-bold.ttf') format('truetype');
}

a.permalink {
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    /*font-family: 'Tangerine', serif;*/
}

.post footer {
    text-align: right;
    font-size: 13px;
    color: #666;
}

#posts {
    max-width: 100%;
    width: 730px;
    margin: auto;
}

#posts img {
    max-width: 100%;
}

#posts {
    margin-top: 25px;
    font-size: 16px;
}

li p {
    line-height: 25px;
}

.post:first-child {
    margin-top: 0;
}

.post {
    margin: 40px 0 20px 0;
    list-style: none;
}

.post ul, .post ol, .post img {
    margin-bottom: 20px;
}

.spotify_audio_player {
    display: block;
    margin: auto;
}

/* Skeleton overrides */
ul ul, ul ol, ol ol, ol ul {
    font-size: 100%;
    list-style: disc;
}